# string de conexão com o banco de produção
MONGO_URI_PRD=mongodb://user:password@dbserver1.databases.appdomain.cloud:31399,dbserver2.databases.appdomain.cloud:31399,dbserver3.databases.appdomain.cloud:31399/?authSource=admin&replicaSet=replset&ssl=true&tlsCAFile=C:\\\\PPSA\\\\ce7a62b2-457a-4740-8145-b897b98646bf.pem

# string de conexão com o banco de local /desenvolvimento
MONGO_URI=mongodb://localhost:27017/ 

# path para o crtificado para conexão com o banco de produção, se não já estiver pressenta na string de conexção
CA_CERTIFICATE_PATH_DEFAULT=C:\\PPSA\\ce7a62b2-457a-4740-8145-b897b98646bf.pem # path do certificado para conexão com o mongo de produção

CACHE_DIR_PATH=/tmp/flask_cache

PESQUISA_AMBINTE_PRODUCAO=True

MONGO_DATABASE=sgppServices
# credenciais mongo -> local /desenvolvimento
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin

EUREKA_SERVER=http://localhost:8761/eureka/
APP_NAME=sgpp-cco-tools

URL_AUTH_GATEWAY=http://localhost:8080/api/authenticate
SECRET_KEY=sua_chave_secreta

# Desabilita autenticação (somente para desenvolvimento local)
# Em produção/cloud deve ser False ou não definida
DISABLE_AUTH=True